In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\ROOPSHREE\Downloads\termdeposit_train.csv")

In [3]:
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no

In [4]:
df.shape

(31647, 18)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31647 entries, 0 to 31646
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          31647 non-null  int64
 1   age         31647 non-null  int64
 2   job         31647 non-null  object
 3   marital     31647 non-null  object
 4   education   31647 non-null  object
 5   default     31647 non-null  object
 6   balance     31647 non-null  int64
 7   housing     31647 non-null  object
 8   loan        31647 non-null  object
 9   contact     31647 non-null  object
 10  day         31647 non-null  int64
 11  month       31647 non-null  object
 12  duration    31647 non-null  int64
 13  campaign    31647 non-null  int64
 14  pdays       31647 non-null  int64
 15  previous    31647 non-null  int64
 16  poutcome    31647 non-null  object
 17  subscribed  31647 non-null  object
dtypes: int64(8), object(10)
memory usage: 4.3+ MB

In [8]:
df.dtypes

ID             int64
age            int64
job           object
marital       object
education     object
default       object
balance        int64
housing       object
loan          object
contact       object
day            int64
month         object
duration       int64
campaign       int64
pdays          int64
previous       int64
poutcome      object
subscribed    object
dtype: object

In [9]:
df.isnull().sum()

ID            0
age           0
job           0
marital       0
education     0
default       0
balance       0
housing       0
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
subscribed    0
dtype: int64

In [10]:
df.describe()

,ID,age,balance,day,duration,campaign,pdays,previous
count,31647.000000,31647.000000,31647.000000,31647.000000,31647.000000,31647.000000,31647.000000,31647.000000
mean,22563.972162,40.957247,1363.890258,15.835466,258.113534,2.765697,39.576042,0.574272
std,13075.936990,10.625134,3028.304293,8.337097,257.118973,3.113830,99.317592,2.422529
min,2.000000,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,11218.000000,33.000000,73.000000,8.000000,104.000000,1.000000,-1.000000,0.000000
50%,22519.000000,39.000000,450.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,33879.500000,48.000000,1431.000000,21.000000,318.500000,3.000000,-1.000000,0.000000
max,45211.000000,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [11]:
df = df.drop('duration',axis = 1)
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,1,-1,0,unknown,no

In [12]:
df['contact'].value_counts()

cellular     20423
unknown       9177
telephone     2047
Name: contact, dtype: int64

In [14]:
9177/(20423+9177+2047)

0.2899800928998009

In [13]:
df['poutcome'].value_counts()

unknown    25929
failure     3362
other       1288
success     1068
Name: poutcome, dtype: int64

In [15]:
25929/(25929+3362+1288+1068)

0.8193193667646222

In [16]:
df['subscribed'].value_counts()

no     27932
yes     3715
Name: subscribed, dtype: int64

In [19]:
#Standard Scaler
#back up
df_ready = df.copy()

#Importing important libraries

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

#Making a list of numerical columns

num_cols = ['age','balance','day','campaign','pdays','previous']

#Scaling
df_ready[num_cols] = scaler.fit_transform(df_ready[num_cols])
df_ready.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,subscribed
0,26110,1.415793,admin.,married,unknown,no,0.187933,no,no,telephone,0.379579,nov,-0.245906,-0.408555,-0.237059,unknown,no
1,40576,-0.937156,unknown,married,secondary,no,-0.449397,no,no,cellular,0.499526,jul,-0.245906,-0.408555,-0.237059,unknown,no
2,15320,-1.313627,services,married,secondary,no,-0.156159,yes,no,cellular,0.259631,jul,-0.567059,-0.408555,-0.237059,unknown,no
3,43962,1.509911,management,divorced,tertiary,no,0.635055,no,no,cellular,0.739422,jun,-0.567059,0.447299,1.001336,success,yes
4,29842,-0.937156,technician,married,secondary,no,-0.411091,yes,no,cellular,-1.419637,feb,-0.567059,-0.408555,-0.237059,unknown,no

In [20]:
#List of Categorical Columns
cat_cols=['job','marital','education','default','housing','loan','contact','month','poutcome']
#Encoding
df_ready = pd.get_dummies( data = df_ready,columns = cat_cols)
#Encoding Target Variable

df_ready['subscribed'] = df_ready['subscribed'].apply(lambda x:1 if x == 'yes' else 0)
df_ready.head()

,ID,age,balance,day,campaign,pdays,previous,subscribed,job_admin.,job_blue-collar,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,26110,1.415793,0.187933,0.379579,-0.245906,-0.408555,-0.237059,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1,40576,-0.937156,-0.449397,0.499526,-0.245906,-0.408555,-0.237059,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,15320,-1.313627,-0.156159,0.259631,-0.567059,-0.408555,-0.237059,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,43962,1.509911,0.635055,0.739422,-0.567059,0.447299,1.001336,1,0,0,...,1,0,0,0,0,0,0,0,1,0
4,29842,-0.937156,-0.411091,-1.419637,-0.567059,-0.408555,-0.237059,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
df_ready.shape

(31647, 52)

In [22]:
#Seperating input and output features
#Input Features

features = df_ready.drop('subscribed',axis = 1)

#Target
target = df_ready['subscribed']

In [26]:
# Train Test Split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features,target, test_size = 0.2, random_state = 42)

In [27]:
# Logistic Regression

In [29]:
#Model
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
#Fitting the model
lr.fit(x_train,y_train)

LogisticRegression()

In [30]:
# Predicting from the Model
y_pred = lr.predict(x_test)

In [31]:
# Evaluation
from sklearn.metrics import accuracy_score
print('Accuracy :',accuracy_score(y_test,y_pred))

Accuracy : 0.8778830963665087

In [32]:
# Support Vector Machines

In [35]:
#Model
from sklearn.svm import SVC
svm = SVC(kernel ='rbf')
#Fitting the model
svm.fit(x_train,y_train)

SVC()

In [36]:
# Predicting from the Model
y_pred = svm.predict(x_test)

In [37]:
# Evaluation
from sklearn.metrics import accuracy_score
print('Accuracy :',accuracy_score(y_test,y_pred))

Accuracy : 0.8845181674565561

In [38]:
# Decision Tree Classifier

In [40]:
#Model
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

#Fitting from the model
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [42]:
# Predicting from the model
y_pred = dt.predict(x_test)

In [43]:
# Evaluation
from sklearn.metrics import accuracy_score
print('Accuracy :',accuracy_score(y_test,y_pred))

Accuracy : 0.8368088467614534